html {
  font-family: "Helvetica", "Helvetica Neue", "Roboto", "sans-serif";
}

.container {
  text-align: center;
}

.container h1 {
  color: magenta;
  text-transform: uppercase;
  letter-spacing: 1em;
  font-weight: lighter;
}

.container-game {
  display: block;
  margin-top: 100px;
}

.row {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.square {
  width: 20px;
  height: 20px;
  background-color: black;
  border: 0.1em white solid;
}

.snek {
  background-color: magenta;
}

.food {
  background-color: green;
}
