.container {
  width: 100%;
  text-align: center;
}

.game-container {
  /* border: 0.1em black solid; */
}

.row {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.square {
  width: 30px;
  height: 30px;
  background-color: black;
  border: 0.1em white solid;
}

.snek {
  background-color: magenta;
}

.food {
  background-color: green;
}
